{% extends "top.html" %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="./static/css/element.css">
    <link rel="stylesheet" type="text/css" href="./static/css/qa.css">
{% endblock %}
{% block title %} Q&A {% endblock %}
{% block content %}
    <div class="QA">
        {% for QA in QAs %}
            <div class="qa" title="Q&A">
                <p class="Q">Q: {{QA[1]}}</p>
                <p class="A">A: {{QA[2]}}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
